<h2>Movie ma'lumotlari</h2>
<nz-table [nzData]="[movie$ | async]" [nzFrontPagination]="false" #table_movie [nzShowPagination]="false">
    <thead>
        <tr>
            <th>Name</th>
            <th>movie_type</th>
            <th>language</th>
            <th>quality</th>
            <th>status_type</th>
        </tr>
    </thead>
    <tbody *ngFor="let data of table_movie.data">
        <tr>
            <td>{{ data?.name }}</td>
            <td>{{ data?.movie_type }}</td>
            <td>{{ data?.language }}</td>
            <td>{{ data?.quality }}</td>
            <td>{{ data?.status_type }}</td>
        </tr>
    </tbody>
</nz-table>

<ng-container *ngIf="(movie_type == movie_type_part)">
    <div class="table-top">
        <div class="left">
            <h2>Qismlar ro'yhati</h2>
        </div>
        <div class="right">
            <button nzType="primary" nz-button nzSize="large" (click)="open()">
                <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
            </button>
        </div>
    </div>

    <nz-table [nzData]="((movie$ | async)?.childen_movie ?? [] )" #table_part [nzFrontPagination]="false"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th>Name</th>
                <th>duration</th>
                <th>status_type</th>
                <th>Boshqaruv</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of table_part.data">
            <tr>
                <td>{{ data.name}}</td>
                <td>{{ data.duration}}</td>
                <td>{{ data.movie_type}}</td>
                <td>
                    <nz-button-group>
                        <button nzType="default" nz-button nzSize="large" nz-popconfirm
                            nzPopconfirmTitle="Ushbu m'alumotni o'chirmoqchimisiz?" nzPopconfirmPlacement="topRight"
                            nz-button (nzOnConfirm)="delete(data.id)">
                            <span nz-icon nzType="delete" nzTheme="outline" style="color: red;"></span>
                        </button>
                        
                        <a *ngIf="data?.video_id" [routerLink]="['/video', 'info', data.video_id]" nzType="default" nz-button nzSize="large">
                            <span nz-icon nzType="eye" nzTheme="outline" style="color: blue;"></span>
                        </a>

                        <button nzType="default" nz-button nzSize="large" (click)="open(data.id!)">
                            <span nz-icon nzType="edit" nzTheme="outline" style="color: blue;"></span>
                        </button>
                    </nz-button-group>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>